@page "/ai"
@using TelerikBlazorApp1.Client.Services
@inject IOpenAiService service
@inject ConversationState state
@inject ISpeechRecognitionService SpeechRecognition
@inject ITextToSpeechService TextToSpeech
<div>
    <TelerikAIPrompt @ref="@AIPromptRef"
                     @bind-Prompt="@prompt"
                     OnPromptRequest="@HandlePromptRequest"
                     Width="500px">
        <AIPromptViews>
            <AIPromptPromptView ButtonText="Prompt" ButtonIcon="@SvgIcon.Comment">
                <FooterTemplate>
                    <TelerikButton Icon="@SvgIcon.Sparkles" OnClick="@(()=>HandlePromptRequest(new() {Prompt = prompt}))">Generate</TelerikButton>
                    <TelerikButton OnClick="OnRecord">
                        <TelerikLoader Class="loader-indicator" ThemeColor="light" Size="@(ThemeConstants.Loader.Size.Small)" Visible="@isRecording"></TelerikLoader>
                        🎙️
                    </TelerikButton>
                </FooterTemplate>
            </AIPromptPromptView>
            <AIPromptOutputView ButtonText="Responses">
                <FooterTemplate>
                    @if (isPlaying)
                    {
                        <audio autoplay controls><source src="@audio" /></audio>
                    }
                </FooterTemplate>
            </AIPromptOutputView>
        </AIPromptViews>
    </TelerikAIPrompt>
</div>
