<div style="--kendo-color-primary: #FFF; --kendo-card-header-text: #000">
    <TelerikCard Class="rainbow-skeleton" Width="250px">
        <CardHeader>
            <div>
                <CardTitle>
                    <TelerikSkeleton ShapeType="@SkeletonShapeType.Text" Width="90px" Height="20px"></TelerikSkeleton>
                </CardTitle>
                <CardSubTitle>
                    Analyzing image and generating theme.
                </CardSubTitle>
            </div>
        </CardHeader>
        <TelerikSkeleton ShapeType="@SkeletonShapeType.Rectangle" Width="248px" Height="130px" />
        <CardActions>
            <div class="k-d-flex k-justify-content-between k-w-full">
                <TelerikSkeleton ShapeType="@SkeletonShapeType.Text" Width="50px" Height="18px" />
                <TelerikSkeleton ShapeType="@SkeletonShapeType.Circle" Width="28px" Height="28px" />
                <TelerikSkeleton ShapeType="@SkeletonShapeType.Text" Width="50px" Height="18px" />
            </div>
        </CardActions>
    </TelerikCard>
</div>