@using BlazorComponentUtilities

<div class="k-card-deck">
    @foreach (var item in Data)
    {
        <div style="@CreateTheme(item.AccentColor)">
            <TelerikCard Width="250px">
                <CardHeader>
                    <CardTitle>@item.Title</CardTitle>
                    <CardSubTitle>@item.SubTitle</CardSubTitle>
                </CardHeader>
                <CardImage Src="@($"/{item.ImageUrl}")"></CardImage>
                <CardActions>
                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Save for later</TelerikButton>
                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)" Icon="@SvgIcon.Heart" FillMode="@(ThemeConstants.Button.FillMode.Flat)"></TelerikButton>
                    <span class="post-likes-count">Likes @item.Likes</span>
                </CardActions>
            </TelerikCard>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<CardItem> Data { get; set; } = [];

    private StyleBuilder CreateTheme(string accentColor) => StyleBuilder.Empty()
    .AddStyle("--kendo-color-primary", accentColor)
    .AddStyle("--kendo-color-primary-subtle", "color-mix(in srgb, var(--kendo-color-primary), white 75%)")
    .AddStyle("--kendo-color-primary-subtle-hover", "color-mix(in srgb, var(--kendo-color-primary), white 75%)")
    .AddStyle("--kendo-color-primary-subtle-active", "color-mix(in srgb, var(--kendo-color-primary), white)")
    .AddStyle("--kendo-color-primary-hover", "color-mix(in srgb, var(--kendo-color-primary), black)")
    .AddStyle("--kendo-color-primary-active", "color-mix(in srgb, var(--kendo-color-primary), black 75%)")
    .AddStyle("--kendo-color-primary-emphasis", "color-mix(in srgb, var(--kendo-color-primary), white)")
    .AddStyle("--kendo-color-primary-on-subtle", " color-mix(in srgb, var(--kendo-color-primary), white)")
    .AddStyle("--kendo-color-on-primary", "#ffffff")
    .AddStyle("--kendo-color-primary-on-surface", "color-mix(in srgb, var(--kendo-color-primary), white)")
    .AddStyle("--kendo-card-header-text", "var(--kendo-color-on-primary)")
    .AddStyle("--kendo-card-subtitle-text", "var(--kendo-color-on-primary)")
    .AddStyle("--kendo-card-border", "var(--kendo-color-primary)")
    ;
}

<style>
    .k-card-header {
        background-color: var(--kendo-color-primary);
    }
    .k-card {
        border-color: var(--kendo-card-border);
    }
    .k-card-title {
        color: var(--kendo-card-header-text);
    }
    .k-card-subtitle {
        color: var(--kendo-card-header-text);
    }
</style>