@using BlazorComponentUtilities

@foreach (var item in Data)
{
    <div style="@ThemeState.CreateTheme(item.AccentColor)">
        <TelerikCard Width="250px">
            <CardHeader>
                <CardTitle>@item.Title</CardTitle>
            </CardHeader>
            <CardImage Src="@($"/{item.ImageUrl}")"></CardImage>
            <CardBody>
                <p><TelerikChipList Data="item.Description.ToDictionary(x=>x)" TextField="Value"></TelerikChipList></p>
                <TelerikColorPalette Colors="@Palette" />
            </CardBody>
            <CardActions>
                <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)" OnClick="@(()=> OnSetAsThemeClicked(item))">Set as theme</TelerikButton>
                @if (item.IsLiked)
                {
                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)"
                                   Icon="@SvgIcon.Heart"
                                   FillMode="@(ThemeConstants.Button.FillMode.Flat)"
                                   OnClick="@(()=>OnDislikedClicked(item))">
                    </TelerikButton>
                }
                else
                {
                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)"
                                   Icon="@SvgIcon.HeartOutline"
                                   FillMode="@(ThemeConstants.Button.FillMode.Flat)"
                                   OnClick="@(()=>OnLikedClicked(item))">
                    </TelerikButton>

                }
                <span class="post-likes-count">Likes @item.Likes</span>
            </CardActions>
        </TelerikCard>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<CardItem> Data { get; set; } = [];

    [Parameter]
    public EventCallback<CardItem> OnLiked { get; set; }

    [Parameter]
    public EventCallback<CardItem> OnDisliked { get; set; }

    [Parameter]
    public EventCallback<CardItem> OnSetAsTheme { get; set; }

    void OnLikedClicked(CardItem item) => OnLiked.InvokeAsync(item);

    void OnDislikedClicked(CardItem item) => OnDisliked.InvokeAsync(item);

    void OnSetAsThemeClicked(CardItem item) => OnSetAsTheme.InvokeAsync(item);
    
    public string[] Palette =
    {
        "var(--kendo-color-primary-subtle)",
        "var(--kendo-color-primary-subtle-active)",
        "var(--kendo-color-primary)",
        "var(--kendo-color-primary-hover)",
        "var(--kendo-color-primary-active)",
    };

}
    